<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <% if logged_in? %>
    <h4><%=current_user.name%> signed in</h4>
    <%= link_to "Logout", logout_path, method: :delete%>
  <% end %>

    <%= yield %>
  </body>
</html>
